* {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: black;
  }
  
  body::-webkit-scrollbar {
    width: 10px;
  }
  
  body::-webkit-scrollbar-track {
    background-color: #a2b0ff;
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(17, 17, 160);
  }
  
  h1,
  h2,
  h3 {
    font-family: "Poppins";
  }
  
  /* Mobile Top Nav Bar */
  .container-fluid > .navbar {
    margin: 0px -15px;
    background-color: #031022;
  }
  
  .navbar-toggler {
    background-color: white;
  }
  
  /* Side Nav Bar */
  #sideNavBar {
    background-color: rgb(14, 65, 65);
    height: 100vh;
    position: fixed;
    z-index: 1;
  }
  
  .navbar-nav i,
  .navbar-nav a {
    color: rgba(255, 255, 255, 0.712) !important;
  }
  
  .navbar-nav li:hover i {
    color: #4c5bac !important;
  }
  
  .navbar-nav li:hover a {
    color: white !important;
  }
  
  /* Profile Section */
  
  #profileSection > .row {
    background: linear-gradient(
        rgba(33, 206, 163, 0.9) 0%,
        rgba(28, 75, 82, 0.902) 100%
      );
    background-size: cover;
    padding: 100px 0px;
  }
  
  #profileSection .profileTitle {
    margin: 60px 0px;
  }
  
  #profileSection h1 {
    font-size: 62px;
  }
  
  .highlightedText {
    position: relative;
    z-index: 3;
  }
  
  .highlightedText:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: 0;
    top: 55%;
    margin-left: -5px;
    width: 100%;
    z-index: -1;
  }
  
  .changingRolesDiv {
    position: relative;
  }
  
  .aboutDiv {
    font-size: 17px;
    font-family: "Roboto";
  }
  
  .profileButtons {
    position: relative;
  }
  
  .contactInProfileSection {
    /* display: grid; */
    position: absolute;
    bottom: 0;
    right: 0;
    width: fit-content;
    text-align: left;
  }
  
  @media only screen and (max-width: 1025px) {
    .changingRolesDiv {
      white-space: nowrap;
      left: 25px;
    }
  }
  
  @media only screen and (max-width: 769px) {
    .changingRolesDiv {
      left: 0;
    }
  }
  
  @media only screen and (max-width: 426px) {
    .changingRolesDiv {
      white-space: pre-wrap;
      min-height: 185px;
    }
  }
  
  /* Skills Div */
  
  #skills {
    min-height: 80vh;
  }
  
  .skillsTitle > h1 {
    font-weight: 700;
    position: relative;
    width: fit-content;
  }
  
  .skillsTitle > h1:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  .skillImages {
    padding: 30px;
  }
  
  .skillImages:hover {
    transition: 0.3s;
    padding: 0px;
    opacity: 1;
  }
  
  .skillImages > div {
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins";
  }
  
  /* Proficiencies Div */
  #proficiencies {
    padding-bottom: 10px;
    min-height: 80vh;
    background-color: #7e2cde;
    background-color: #684bf9;
  }
  
  .proficienciesTitle > h1 {
    color: white;
    font-weight: 700;
    position: relative;
    width: fit-content;
    z-index: 3;
  }
  
  .proficienciesTitle > h1:after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  #proficiencies h4 {
    font-weight: 600;
    font-family: "Poppins";
    color: rgb(186, 214, 132);
  }
  
  /* Project Div */
  #project {
    min-height: 80vh;
  }
  #project>img{
    height: 30px;
    width: 40px;
  }
  
  .projectTitle > h1 {
    font-weight: 700;
    position: relative;
    width: fit-content;
  }
  
  .projectTitle > h1:after {
    content: " ";
    height: auto;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  #project .card {
    min-height: 450px;
  }
  
  #project .card .card-title {
    font-size: 35px;
    font-weight: 600;
  }
  
  #project .card:hover {
    transition: 0.5s;
    border: none;
    box-shadow: 11px 11px 30px #c7c7c7, -11px -11px 30px #ffffff;
  }
  
  #project .card:hover .card-title {
    color: white;
  }
  
  #project .card:hover > .card-body {
    animation: 0.5s linear animateCardBackground;
    background-color: rgba(80, 106, 255, 0.8);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  }
  
  #project .card-body {
    position: relative;
  }
  
  .link {
    position: absolute;
    right: 0;
    top: 5px;
  }
  
  #project .card-body .card-stacks {
    position: absolute;
    text-align: center;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #project .card-body img {
    width: 30px;
  }
  
  .card-links {
    display: flex;
    justify-content: center;
  }
  
  .card-links .btn {
    margin: 4px;
  }
  
  @keyframes animateCardBackground {
    from {
      background-color: transparent;
    }
    to {
      background-color: rgba(80, 106, 255, 0.8);
    }
  }
  
  /* Stats */
  .statisticsTitle > h1 {
    font-weight: 700;
    margin-top: 100px;
    position: relative;
    width: fit-content;
  }
  
  .statisticsTitle > h1::after {
    content: " ";
    height: 20%;
    position: absolute;
    left: -5px;
    top: 55%;
    width: calc(100% + 10px);
    z-index: -1;
  }
  
  .individualStat {
    width: 140px;
    text-align: center;
  }
  
  .individualStat > div:nth-child(1) {
    margin: auto;
    font-size: 28px;
    font-weight: 600;
    height: 130px;
    width: 130px;
    border: 10px solid #506aff;
    border-radius: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Contact Footer */
  #contact {
    background-color: rgb(124, 221, 221);
    min-height: 22vh;
    color: black;
  }
  
  .contactIcons {
    font-size: 30px;
  }
  
  .contactIcons:hover {
    color: rgb(93, 112, 100);
    cursor: pointer;
  }